// @import '~node_modules/modern-normalize/modern-normalize.css';
// @import '~node_modules/modern-normalize/modern-normalize.css';

:root {
    // --main-ff: 'Roboto', sans-serif;
    --main-ff: 'Inter', 'Montserrat', sans-serif;
    // --logo-ff: 'Raleway', sans-serif;
    --accent: var(--accent);
    // --bg: #000000;
    // --bg-top: linear-gradient(#000, #171717);
    // --text: #000;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms;
    --btn: #007acc42;
  }


  
  body {
    height: 100%;
    font-family: var(--main-ff);
    display: flex;
    flex-direction: column;
    // background-color: var(--bg);
    // background-color: rgba(0, 117, 140, 0.592)
    // background-image: linear-gradient(#00000000, #000000b3), url(../images/hero-1.png);
    // background-image: url("https://cdn.pixabay.com/photo/2020/10/07/10/51/mountains-5634817_1280.jpg");
    // background-image: url("https://cdn.pixabay.com/photo/2016/08/15/00/45/log-cabin-1594361__340.jpg");
    // background-image: url("../images/body/01-5.3.jpg");
    background-image: url("../images/body/01-5.5.jpg");
    // background-size: cover;
    background-size: contain;
   
   
    // background-position: center;
    background-position-y: 68px;
    background-repeat: no-repeat;
  
    /*  Comment out this line  */
    background-attachment: fixed;
  }
  
  // .wrapper {
  //   min-height: 100%;
  //   display: flex;
  //   flex-direction: column;
  // }
  
  // .main {
  //   flex: 1 1 90vh;
  // }
  